@font-face {
  font-family: "Kramood";
  src: url("./fonts/Kramood.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Kramood", Arial, Helvetica, sans-serif;
}

.nav {
  font-size: 50px;
  text-align: center;
  background-color: red;
  display: flex;
}

.nav a {
  float: left;
  color: black;
  text-decoration: none;
  text-align: center;
}

.nav a:hover {
  background-color: darkred;
}

.dropdown-button a:hover {
  background-color: darkred;
}

.hidden {
  display: none;
}

.snoop .blurry {
  filter: blur(8px);
}

.blurry:hover {
  filter: blur(0px);
  transition: 0.5s ease;
}

.snoop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}

.footer {
  font-size: 70px;
  text-align: center;
  outline-style: solid;
}
